
<header>
    <div style="height: 100px;;width:100%; background-color: aqua; text-align: center;padding: 5px;color:red;">Header</div>
    </header>
    
<h3>HAVE A NICE DAY</h3>
<p><img src="cid:{{ image_name }}" /></p>
 

<footer>
        <div style="height: 100px;;width:100%; background-color: aqua; text-align: center;padding: 5px;color:red; ">
            <h6>Footer</h6>
            <p>@all right reserver</p>
            <p> <a href="https://www.facebook.com">Facebook</a> <a href="https://www.linkedin.com">Linkdin</a> <a href="https://www.youtube.com
                ">Instagram</a> <a href="https://www.instagram.com/
                ">Youtube</a> </p>
        </div>
</footer>