<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{%url 'home' %}">Allauth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link" href="{%url 'home' %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="accounts/logout/">Logout</a>
              </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="accounts/login/">Login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="accounts/signup/">Signup</a>
              </li>
            {% endif %}
              
            
         
        </div>
      </nav>

    {% block content %}

    {% if request.user.is_authenticated %}    
    <h1>Hi {{request.user}}</h1>

    {% else %}
    
    <h1>Welcome! Please Login or Register</h1>
    {% endif %}
    
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>